.ul {
  list-style-type: none;
  margin: 0;
  padding: 20;
  overflow: hidden;
  background-color: #748;
}

.ul2{
  text-align: center;
  padding: 50;
}

.ul3{
  padding-left: 110px;
}


.li {
  float: left;
}

.li2{
  padding: 50;
  color: yellow;
  font-size: 50px;
}

.li3{
  padding: 50;
  color: yellow;
}

li a {
  display: block;
  color: yellow;
  text-align: center;
  padding: 24px 36px;
  text-decoration: none;
}

li a:hover {
  background-color: black;
}

body {
  background-image: url("../images/background.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title{
  font-size: 100px;
  color: yellow;
  text-align: center;
}

.me{
  float: right;
  padding-right: 8%;

}
.sub-title{
  color: yellow;
  text-decoration: underline;
  text-align: center;
}
hr{
  width: 75%;
}

p{
  padding-left: 95px;
  color: yellow;
}

.pst{
  text-align: center;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid black;
  border-radius: 10px;
}

.football {
  text-align: center;
}

.football2 {
  font-size: 50px;
  text-align: center;
}

.image1{
  height: 500px;
  width: 900px;
}

.image2{
  height 500px;
  width: 600px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 75%;
}

td, th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
  color: purple;
}

tr:nth-child(even) {
  background-color: white;
}
