.ul {
  list-style-type: none;/*removes any list style*/
  margin: 0;/*removes any margin*/
  padding: 20; /*padding for nav bar*/
  overflow: hidden;/*makes overflow hidden*/
  background-color: #748; /*changes background to purple*/
}

.ul2{
  text-align: center; /*centers list*/
  padding: 50; /* gives padding to smaller lists*/
}

.ul3{
  padding-left: 110px; /*moves smaller list over to the right*/
}


.li {
  float: left; /*puts nav bar to the left of the screen*/
}

.li2{
  padding: 50; /*makes list items further apart*/
  color: yellow;/*makes text yellow*/
  font-size: 50px;/*makes font larger*/
}

.li3{
  padding: 50;/*makes items further apart*/
  color: yellow;/*makes text yellow*/
}

li a {
  display: block;/*makes nav bar appear in blocks design*/
  color: yellow;/*changes text to yellow*/
  text-align: center;/*centers text*/
  padding: 24px 36px;/*moves list items to look nicer*/
  text-decoration: none;/*removes any text decoration*/
}

li a:hover {
  background-color: black;/*makes nav bar item black when hovered over*/
}

body {
  background-image: url("../images/background.png");/*uses image for all page backgrounds*/
  -webkit-background-size: cover;/*makes background cover whole screen*/
  -moz-background-size: cover;/*makes background cover whole screen*/
  -o-background-size: cover;/*makes background cover whole screen*/
  background-size: cover;/*makes background cover whole screen*/
}

.title{
  font-size: 100px;/*make text larger*/
  color: yellow;/*changes text to yellow*/
  text-align: center;/*centers text*/
}

.me{
  border: 5px solid black;/*adds black border to image*/
  border-radius: 10px;/*sets border radius for images*/
  float: right;/*floats image right*/
  margin: 5%;/*sets margin 5%*/
}

.sub-title{
  color: yellow;/*makes text yellow*/
  text-decoration: underline;/*underlines text*/
  text-align: center;/*centers text*/
}
hr{
  width: 75%;/*makes line across screen wider*/
}


p{
  padding-left: 95px;/*pushes paragraphs to the right*/
  color: yellow;/*makes parargraph text yellow*/
}

.pst{
  text-align: center;/*centers paragraph text*/
}

.imgf {
  display: block;/*sets display to block*/
  margin-left: auto;/*automates margin left*/
  margin-right: auto;/*automates margin right*/
  height: 500px;/*sets the images height*/
  width: 900px;/*sets the images width*/
  border: 5px solid black;/*adds black border to image*/
  border-radius: 10px;/*sets border radius for images*/
}

.football {
  text-align: center;/*centers text for paragraph*/
}

.football2 {
  font-size: 50px;/*makes text larger*/
  text-align: center;/*centers text*/
}


.image2{
  display: block;/*sets display to block*/
  margin-left: auto;/*automates margin left*/
  margin-right: auto;/*automates margin right*/
  height 500px;/*sets the images height*/
  width: 600px;/*sets the images width*/
  border: 5px solid black;/*adds black border to image*/
  border-radius: 10px;/*sets border radius for images*/
}

table {
  font-family: arial, sans-serif;/*sets font for tables*/
  border-collapse: collapse;/*collapses border for list*/
  width: 75%;/*width of table takes up 75% of the page's width*/
  margin-left: auto;/*sets margin left to auto*/
  margin-right: auto;/*sets margin right to auto*/
  background-color: white;/*makes background color white*/
}

td, th {
  border: 1px solid black;/*makes table border black*/
  text-align: center;/*centers text in table*/
  padding: 8px;/*adds space in the boxes of tables*/
  color: purple;/*makes text in table purple*/
}

tr:nth-child(even) {
  background-color: white;/*makes table background white*/
}

.box{
    margin-right:20px;/*sets margin for iframes to the right*/
}
.clear{
    clear:both;/*clears the iframes*/
}

.a{
  color: yellow;/*makes text yellow for a tags*/
}

footer{
  text-align: center;/* centers footer text*/
  color: yellow;/*makes footer text yellow*/
  font-style: italic;/*italicizes footer text*/
}

iframe{
  frameborder=0;/*erases any border*/
  float:right;/*floats iframe right*/
  width: 33%;/*makes iframe thinner*/
}

div{
  align: center;/*centers div element*/
}
